.timeSheet {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}
.timeHeader h1 {
  color: #325f99;
  font-size: 2rem;
  flex: 3;
}

.timeHeader div {
  flex: 2;
}

.timeHeader div div {
  display: flex;
  align-items: first baseline;
  gap: 1rem;
}

.headerLine {
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 20px auto;
  color: #325f99;
}
th {
  font-size: 1.8rem;
}
th,
td {
  border: 1px solid black;
  text-align: left;
  height: 75px;
  padding: 8px;
}
th.time,
td.time {
  width: 20%;
}
th.focus,
td.focus {
  width: 25%;
}
th.tasks,
td.tasks {
  width: 55%;
}

.howTo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0;
}

.howToHeaders {
  color: #325f99;
  font-size: 1.1rem;
  font-weight: 600;
}
.howToTime {
  text-align: center;
  flex: 100%;
  text-wrap: wrap;
}
.howToWashers {
  text-align: start;
  flex: 30%;
  text-wrap: balance;
}
.howToTechs {
  text-align: start;
  flex: 30%;
  text-wrap: balance;
}
.howToSales {
  flex: 30%;
  text-align: start;
  text-wrap: balance;
}
