.masterTicketBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  -webkit-print-color-adjust: exact;
  transform: scale(0.8);
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  width: 565px;
  margin: 2rem auto;
  padding: 18px;
  color: #325f99;
  border-radius: 12px;
}

.writeLine {
  height: 0;
  border: 1px solid #000;
}

.ticket h1 {
  margin: 0;
  text-decoration: underline;
  text-underline-offset: 6px;
  font-size: 58px;
}

.optionsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 30px;
}

.customerNumberBlock {
  width: 90%;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  gap: 15px;
}
.customerNumberBlock p {
  font-size: 20px;
  flex: 65%;
  text-align: end;
}
.customerNumberBlock .writeLine {
  flex: 75%;
}

.notesBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}
.notesBlock p {
  margin-bottom: 0;
  font-weight: 800;
  font-size: 18px;
}
.notesBlock .writeLine {
  flex: 100%;
}

.ticketFooter {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
}

.ticketFooter div {
  display: flex;
  align-items: first baseline;
  gap: 6px;
  width: 90%;
}
.ticketFooter div p {
  font-size: 12px;
  flex-direction: 50%;
  font-weight: 700;
}
.ticketFooter div .writeLine {
  flex: 50%;
}

.holdLogoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #325f99;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.holdLogo {
  width: 6rem;
}

@media print {
  .masterTicketBlock {
    transform: scale(1);
    margin-top: 20px;
  }
}
