.buttonBlock {
  text-align: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.buttonBlock button {
  padding: 16px 18px;
  font-size: 12px;
  border-radius: 8px;
  background-color: #325f99;
  color: #f9f9f9;
}

.qrBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.qrSingle {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #325f99;
  width: fit-content;
  height: auto;
  padding: 0.8rem 0.6rem;
  color: #f9f9f9;
  border-radius: 12px;
}
.qrItem {
  border-radius: 8px;
  height: auto;
  border: 2px solid #fff;
}
.qrSingleTextBlock {
  text-align: center;
}
h3 {
  font-size: 2rem;
  margin: 0;
}

@media print {
  .buttonBlock {
    display: none;
  }
  .qrBlock {
    -webkit-print-color-adjust: exact;
    margin-top: 20px;
    width: 100vw;
    place-items: center;
    gap: 24px;
  }

  .qrSingle {
    width: 250px;
    height: 380px;
    padding: 20px;
    border-radius: 12px;
  }

  .qrItem {
    width: 100%;
    border-radius: 8px;
  }

  .qrSingleTextBlock h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .qrSingleTextBlock h3 {
    font-size: 28px;
  }
}
