.qrBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 0;
  transform: scale(0.8);
}

.qrItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #325f99;
  width: fit-content;
  padding: 0.6rem;
  border: 5px double #000;
  border-radius: 12px;
  color: #f9f9f9;
}
.qrItem h3 {
  font-size: 1.5rem;
  margin: 1.3rem 0 0.4rem 0;
}

@media print {
  .qrBlock {
    margin-top: 4rem;
    transform: scale(1);
  }
  .qrItem {
    padding: 0.8rem 1rem;
    background-color: #325f99;
    -webkit-print-color-adjust: exact;
  }
  .qrItem h3 {
    font-size: 4rem;
    color: #f9f9f9;
  }
}
