body {
  display: flex;
  place-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #325f99;
  color: #f9f9f9;
  width: 100%;
  padding: 0.5rem 0;
}

header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav a {
  color: unset;
}

@media print {
  header {
    display: none;
  }
  .buttonBlock {
    display: none;
  }
}
